<<<<<<< HEAD
Album Page css
Album Page css
=======
h3 {
text-decoration: underline;
}
h1 {
font-family: cursive;
}
body {
  background-image: http://www.wallpaperbasti.com/wallpapers/music/musical-notes/6.jpg;
} 
a {
 font-family: monospace;
 text-decoration: underline;
 font-weight: none;
}
a:link {
 color: Green;
}
a:visted {
 color: Red;
}
a:hover {
 text-decoration: none;
 color: #00c;
 font-family: cursive;
}
a:active {
 font-weight: bold;
}
img {
border: 3px red dashed;
}
>>>>>>> 870dfbbbb0f3de1832c95c3079992f6f6d013c2f
