h1 {
color: red;
font-style: italic;
}
h4 {
color: red;
font-weight: bold;
}
a {
 font-family: monospace;
 font-weight: none;
}
a:link {
 color: Black;
 text-decoration: underline;
}
a:visted {
 color: Red;
 text-decoration: underline;
}
a:hover {
 font-weight: bold;
 text-decoration: underline;
 color: none;
}
a:active {
 color: Red;
 text-decoration: none;
}
img {
border: 3px red dashed;
}
h1 {
font-family: 'Raleway';
font-size: xx-large;
}