a {
 font-family: monospace;
 font-weight: none;
}
a:link {
 color: Black;
 text-decoration: underline;
}
a:visted {
 color: Red;
 text-decoration: underline;
}
a:hover {
 font-weight: bold;
 text-decoration: underline;
 color: none;
}
a:active {
 color: Red;
 text-decoration: none;
}